    /*  
=======================================================
================== Header Part Start ==================
=======================================================
*/
    
    .main_menu {
        background: $header-color;
        .nav-item {
            .nav-link {
                font-family: $header-font-regular;
                color: $white;
                @include transition($transition-default);
            }
        }
    }
    /*
=======================================================
================== Header Part End ====================
=======================================================
*/